.bg1 {
  background-image: url("/client/image/Login\ box.png");

  height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

.contain1 {
  position: absolute;
  right: 0;
  top: 70px;
  left: 280px;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: #869ea1;
}

.contain2 {
  position: absolute;
  right: 0;
  left: 280px;
  margin: 20px;
  max-width: 300px;
  background-color: #869ea1;
}
.box {
  padding-bottom: 50px;
  position: relative;
  text-align: center;
  color: white;
  top: 10px;
  bottom: 10px;
}

.bg2 {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  background-image: url("/client/image/Register\ box.png");

  height: 800px;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;
}
.color {
  background-image: url("../image/annie-spratt-yI3weKNBRTc-unsplash.jpg");
  background-size: cover;
}

.row-cs {
  display: flex;
  border-style: solid;
  margin: 10px 100px 10px 100px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
