<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="container">
      <div>
        <img src="image/Logo.png" class="align-items-center" alt="Kernel logo">
        <div class="float-right justify-content-center">Create accout/ Already have</div>
      </div>
    </div>
    <nav class="container navbar navbar-expand-sm bg-white justify-content-end">

      <!-- Links -->
      <ul class="nav ">
        <li class="nav-item active">
          <a class="nav-link" href="user_page.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Infected</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="bg5">
      <div class="bg5">
        <h1 style="text-align: center; color: #4298a9;" class="big">JOIN US</h1>
        <h2 style="text-align: center; color: #4298a9;" class="cover">Stop consumption wild-life</h2>
        <h2 style="text-align: center; color: #4298a9;" class="cover">Stop zoonotic diseases</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form class="form-inline justify-content-center" action="/", method = "post">
          <div class="row">
            <div class="col">
              <input type="text" class=" form-control" cols="90" placeholder="Location">  
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary justify-content-center">Search</button>
            </div>
          </div>
          </form>

    </div> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    </div>
    <div class="comment">
      <h2 style="text-align: center;">Our mission</h2>
      <div class="row">
        <br>
        <br>
        <br>
          <div class="col">
              <p>
                With the growing popularity of poaching, trading, and consuming wildlife goods, there are risks of infectious pathogens transmitted from those wild animals to the cattles/pets or to humans ourselves. The Covid-19 ongoing epidemic is such a remarkable case, which causes significant impacts on both the socialeconomic system and human heath, not just in Vietnam but around the globe. Hence, it is vital to have a website providing necessary information to raise the awareness, and detecting the already known and unknown risks while poaching, trading and making uses of those wildlife goods, besides its illegalities.
              </p>
          </div>
        <br>
        <br>
        <br>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="w3-row w3-center w3-dark-grey w3-padding-16 row">
      <div class="col">
        <span class="w3-xlarge">Community</span><br>
        People, Scientists, Organization.
      </div>
      <div class="col">
        <span class="w3-xlarge">Research</span><br>
        Provide people with information of infection when consuming products from wild animals.
      </div>
      <div class="col">
        <span class="w3-xlarge">Data</span><br>
        Experiments from scientists, organization, students.
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <h1 style="text-align: center;">NEWS</h1>
  <div class="container"> 
    <div class="row">
      <div class=" border col-4">
        <div class="content">
          <img src="/client/image/N1.jpg" alt="News1" style="width:280px; height: 200px;" >
          <h3 style="text-align: center;"><a href="https://danviet.vn/binh-thuan-on-lanh-dot-nhap-lo-xe-thit-chim-troi-ca-chim-tien-ty-77771042368.htm">The slaughterhouse<br> of wild birds</a></h3>
          <p style="text-align: center;">Birds of the sky are increasingly depleted due to indiscriminate hunting, affecting the ecological balance of the environment, losing the poetry of life because of the absence of birdsong.</p>
        </div>
      </div>
      <div class=" border col-4">
        <div class="content">
          <img src="/client/image/N2.jpg" alt="News2" style="width:280px; height: 200px;">
          <h3 style="text-align: center;"><a href="https://danviet.vn/du-tro-giang-bay-tham-sat-chim-troi-kieu-tan-diet-o-quang-ninh-77771036793.htm">Traps and massacres of wild birds in Quang Ninh</a></h3>
          <p style="text-align: center;">September every year is the migratory bird season, also the hunting season for wild birds in Mong Cai, Hai Ha (Quang Ninh). The hunters in these two localities blatantly set traps on the embankments, fields, and beaches; Birds of prey are placed all over the ponds, lagoons..</p>
        </div>
      </div>
      <div class=" border col-4">
        <div class="content">
          <img src="/client/image/N3.jpg" alt="News3" style="width:280px; height: 200px;">
          <h3 style="text-align: center;"><a href="https://www.bbc.com/vietnamese/vietnam-53230920">Six strains of corona virus found in wildlife in Vietnam</a></h3>
          <p style="text-align: center;">
              Scientists have just published research showing that there are 6 strains of corona virus detected in wildlife in Vietnam.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  </main>
      
  <footer class="bg-dark text-white">
      <div class="row">
          <div class="col-4 container">
            <br>
            <img src="image/Logo.png" class="calign-items-center" alt="Kernel logo">
          </div>
            
          <div class="col-3">
            <br>
              <p><i class="fa fa-envelope"></i> <a href="info@kernel.org">info@kernel.org</a></p>
              <p>
                <i class="fa fa-phone"></i> + 01 234 567 88</p>
          </div>
      </div>
  </footer>
</body>
</html>